
.container {
    display: flex;
    justify-content: space-between;
}

.container img {
    width : 250px;
    border-radius: 20px;
}
.feedback {
    display: flex;
    align-items: flex-start;
    align-items: center;
    gap: 20px;
}
footer{
    text-align: center;
    margin-top: 60px ;
    background-color: brown;
    color: white;
}
footer h2, footer p{
    margin: 0%;
}

.selezionato{
    background-color: rgb(59, 59, 59);
}
.colore_prezzi{
    color: green;
}
.trasparente{
    visibility: hidden;
    
}
.link{
    color: green
}
